
.frame-page-header {
    background-color: #f9f9f9;
    padding: 5px;
    height: 32px;
    min-height: 32px;
    font-size: 14px;
    border-bottom: 1px solid #dae2ee;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
