
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490598014196'); /* IE9*/
  src: url('iconfont.eot?t=1490598014196#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490598014196') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490598014196') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490598014196#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fef5d6;
}
.icon {
  margin-left: -4px;
}
.iconfont:hover {
  color: #fff;
}

.iconfontTarget {
  font-family:"iconfont" !important;
  font-size:13px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-resize:before { content: "\e600"; }
.icon-start:before {content: "\e696";}
.icon-pause:before {content: "\e695";}
.icon-diannao{ background:url(../../ligerUI/skins/Aqua/images/icon/icon-64-1.png) no-repeat center;}
.icon-diannao-o{ background:url(../../ligerUI/skins/Aqua/images/icon/icon-64-5.png) no-repeat center;}
.icon-ip{ background:url(../../ligerUI/skins/Aqua/images/icon/icon-64-2.png) no-repeat center;}

.icon-yonghu:before { content: "\e60b"; }

.icon-add:before { content: "\e613"; }

.icon-back:before { content: "\e60d"; }

.icon-increase:before { content: "\e630"; }

.icon-table:before { content: "\e633"; }

.icon-right:before { content: "\e60e"; }

.icon-time:before { content: "\e61e"; }

.icon-arrow:before { content: "\e611"; }

.icon-warn:before { content: "\e615"; }

.icon-check:before { content: "\e662"; }

.icon-gengduo:before { content: "\e766"; }

.icon-shanchu-o:before { content: "\e61b"; }

.icon-ok:before { content: "\e63a"; }

.icon-close:before { content: "\e610"; }

.icon-10:before { content: "\e62b"; }

.icon-star-o:before { content: "\e616"; }

.icon-add2:before { content: "\e7c4"; }

.icon-shoucang:before { content: "\e604"; }

.icon-shezhi:before { content: "\e6a2"; }

.icon-jinlingyingcaiwangtubiao12:before { content: "\e70f"; }

.icon-path3:before { content: "\e618"; }

.icon-xuanze:before { content: "\e631"; }

.icon-shouye:before { content: "\e61f"; }

.icon-renzheng:before { content: "\e620"; }

.icon-arrow1:before { content: "\e603"; }

.icon-ping:before { content: "\e625"; }

.icon-fanhui:before { content: "\e63d"; }

.icon-login-o:before { content: "\e621"; }

.icon-search:before { content: "\e605"; }

.icon-duanxin-o:before { content: "\e622"; }

.icon-lock-fill{background:url(../../ligerUI/skins/Aqua/images/icon/icon-64-4.png) no-repeat center;}

.icon-bianji1-o:before { content: "\e64a"; }

.icon-hook:before { content: "\e6ba"; }

.icon-shanchu1:before { content: "\e6d8"; }

.icon-chart:before { content: "\e74c"; }

.icon-gonggao:before { content: "\e60f"; }

.icon-bangzhu:before { content: "\e607"; }

.icon-kaiguan:before { content: "\e602"; }

.icon-dian:before { content: "\e614"; }

.icon-label-book:before { content: "\e609"; }

.icon-yanjing:before { content: "\e624"; }

.icon-calendar:before { content: "\e61d"; }

.icon-xiaoxi:before { content: "\e608"; }

.icon-xinghao:before { content: "\e612"; }

.icon-lingdang:before { content: "\e626"; }

.icon-arrow2:before { content: "\e617"; }

.icon-iconfontyingyongzhuce:before { content: "\e60c"; }

.icon-bianji3:before { content: "\e632"; }

.icon-bank:before { content: "\e627"; }

.icon-zhanghao-o:before { content: "\e628"; }

.icon-sorting-asc:before { content: "\e623"; }

.icon-sorting:before { content: "\e657"; }

.icon-xiangqing1-o:before { content: "\e629"; }

.icon-zhanghao-copy:before { content: "\e62a"; }

.icon-gongdanguanli-o{background:url(../../ligerUI/skins/Aqua/images/icon/icon-64-3.png) no-repeat center;}

.icon-gongdanguanli-l:before { content: "\e69c"; }

.icon-shaixuan1-o:before { content: "\e731"; }

.icon-xin-o:before { content: "\e694"; }

.icon-user:before { content: "\e893"; }

.icon-loudong:before { content: "\e62c"; }

.icon-liebiao:before { content: "\e61c"; }

.icon-map:before { content: "\e634"; }

.icon-ui:before { content: "\e635"; }

.icon-form:before { content: "\e636"; }

.icon-app-o:before { content: "\e90e"; }

.icon-shouquan01:before { content: "\e62d"; }

.icon-zhanghao-copy1:before { content: "\e62e"; }

.icon-zizhanghao-o:before { content: "\e6c4"; }

.icon-bank-o:before { content: "\e6d3"; }

.icon-quanping-o:before { content: "\e62f"; }

.icon-copy2-o:before { content: "\e712"; }

.icon-xin:before { content: "\e619"; }

.icon-lock:before { content: "\e606"; }

.icon-unlock:before { content: "\e61a"; }

.icon-sas:before { content: "\e60a"; }

.icon-arrow1-up:before { content: "\e90f"; }

.icon-sorting-desc:before { content: "\e910"; }

.icon-bingtu:before { content: "\e7ae"; }

.icon-checkbox:before { content: "\e65a"; }

.icon-leftarrow:before { content: "\e711"; }

.icon-resetpwd:before { content: "\e26a"; }

.icon-shuhuiguize:before {  content: "\e923";  }

.icon-guize:before {  content: "\e916";  }

.icon-interface:before {  content: "\e914";  }

.icon-zhongduan:before {  content: "\e915";  }

.icon-IPdizhiduan1:before {  content: "\e8fa";  }

.icon-zuzhuang:before {  content: "\e924";  }

